{% extends "base.html" %}
{% block content %}

<div class="row justify-content-center">
  <div class="col-md-5">

    <div class="card shadow">
      <div class="card-header text-center">
        <h5>Add New User</h5>
      </div>

      <div class="card-body">

        <form method="POST">

          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" name="username" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" name="password" class="form-control" required>
          </div>

          <div class="mb-3">
            <label class="form-label">Role</label>
            <select name="role_id" class="form-select" required>
              <option value="">Select Role</option>
              {% for role in roles %}
                <option value="{{ role.id }}">{{ role.name }}</option>
              {% endfor %}
            </select>
          </div>

          <button class="btn btn-primary w-100">Create User</button>

        </form>

      </div>
    </div>

  </div>
</div>

{% endblock %}
